body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1246px;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1246px;
  display:flex;
}
#u196 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:155px;
  width:97px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u198 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:155px;
  width:84px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u199 {
  border-width:0px;
  position:absolute;
  left:763px;
  top:155px;
  width:84px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u200 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:155px;
  width:84px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u201 {
  border-width:0px;
  position:absolute;
  left:931px;
  top:155px;
  width:84px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u202 {
  border-width:0px;
  position:absolute;
  left:1015px;
  top:155px;
  width:84px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u203 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:155px;
  width:97px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u204 {
  border-width:0px;
  position:absolute;
  left:1196px;
  top:155px;
  width:84px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u205 {
  border-width:0px;
  position:absolute;
  left:1280px;
  top:155px;
  width:93px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u206 {
  border-width:0px;
  position:absolute;
  left:1373px;
  top:155px;
  width:93px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u207 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:155px;
  width:87px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u208 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:0px;
  width:87px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u209 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:155px;
  width:76px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
